<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/blog.css" />
    <link rel="stylesheet" href="../styles/fontawesome.min.css" />
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
    <title>blog</title>
  </head>
  <body>
    <!-- start code navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex flex-wrap">
        <div
          class="row ali flex-nowrap d-flex align-items-center justify-content-space-between w-100 my-row p-2"
        >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarScroll"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon align-items-center"></span>
          </button>
          <div class="social w-50 text-right">
            <div class="social-item">
              <i class="fab fa-instagram" id="1"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
          <div
            class="collapse navbar-collapse text-left w-50"
            id="navbarScroll"
          >
            <ul
              style="height: 100%; text-align: left"
              class="navbar-nav mr-auto align-items-center justify-content-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >فروشگاه <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./layout/about/about.html">بلاگ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./layout/services/services.html"
                  >برند ها</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./layout/contact/contact.html"
                  >مطالب کاربران</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="logo">
          <div class="logo-img">
            <img src="../img/logo-cosmetic.png" alt="" />
          </div>
        </div>
        <div class="login">
          <div class="container-fluid">
            <div class="login-item">
              <div class="login-item1">
                <li>
                  <i class="fas fa-user"></i>
                  <a href="#" class="log">ورود / ثبت نام</a>
                </li>
                <li class="mr-4 mt-1">
                  <i class="fas fa-phone-volume"></i>
                  <a>021-77023</a>
                </li>
              </div>
              <div class="login-item2">
                <div class="search">
                  <input type="text" class="input" placeholder="جستجو ..." />
                  <button class="btns">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div class="tooltips-add toltips-show">
                  <h1><i class="far fa-heart toltips-show"></i></h1>
                </div>
                <h1><i class="fas fa-random"></i></h1>
                <div class="shopping-cart">
                  <h1 class="data-count">
                    <i class="fas fa-shopping-cart"></i>
                  </h1>
                </div>
                <p>0تومان</p>

                <div class="tooltips-love">
                  <div class="tooltips-item">
                    <img src="./layout/img/product3.png" alt="" srcset="" />
                    <p>کرم ضد آفتاب</p>
                    <p>210000 تومان</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="menu-item">
            <div class="container">
              <div class="menu-items">
                <div class="menu-item1">
                  <ul>
                    <li>
                      <a href="../../index.html">صفحه اصلی</a>
                    </li>
                    <li class="megmenu-show">
                      <a href=""
                        >فروشگاه<i class="fas fa-angle-down mr-2"></i
                      ></a>
                      <div class="meg-menu">
                        <div class="meg-menu-item">
                          <p>سبد خرید</p>
                          <p>حساب کاربری</p>
                          <p>پرداخت</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="">حساب کاربری</a>
                    </li>
                    <li>
                      <a href="">بلاگ</a>
                    </li>
                  </ul>
                </div>
                <div class="menu-item2">
                  <ul>
                    <li class="megamenu-show">
                      <a href="">زنانه<i class="fas fa-angle-down"></i></a>
                      <div class="mega-menu">
                        <div class="mega-menu-item">
                          <div class="mega-menu-items">
                            <h6><i class="fas fa-angle-left ml-1"></i>مجلسی</h6>
                            <p>زیر مگامنو</p>
                            <p>زیر مگامنو</p>
                            <p>زیر مگامنو</p>
                          </div>
                          <div class="mega-menu-items">
                            <h6>
                              <i class="fas fa-angle-left ml-1"></i>لباس زیر
                            </h6>
                            <p>زیر مگامنو</p>
                            <p>زیر مگامنو</p>
                            <p>زیر مگامنو</p>
                          </div>
                          <div class="mega-menu-items">
                            <h6>
                              <i class="fas fa-angle-left ml-1"></i>اکسسوری
                            </h6>
                            <p>زیر مگامنو</p>
                          </div>
                          <div class="mega-menu-items">
                            <h6>
                              <i class="fas fa-angle-left ml-1"></i>کیف و کفش
                            </h6>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="">مردانه</a>
                    </li>
                    <li>
                      <a href="">بچگانه</a>
                    </li>
                    <li>
                      <a href="">جواهرات</a>
                    </li>
                    <li>
                      <a href="">اکسسوری</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end code navbar -->
    <!-- start code navbarchange -->
    <div class="navbarchange">
      <div class="navbarchange-item">
        <div class="navbarchange-items-item">
          <div class="navbar-menu">
            <div class="navbar-menus">
              <i class="fas fa-bars"></i>
              <p>منو</p>
            </div>
          </div>
          <div class="navbar-logo">
            <img src="./layout/img/wood-logo-dark.svg" alt="" />
          </div>
          <div class="navbar-shop">
            <div class="shopping-cart1">
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end code navbarchange -->
    <!-- start code menubreack -->
    <div class="menubreack">
      <div class="menubreack-item">
        <div class="menubreack-item1">
          <div class="menubreack-item1-item">
            <input type="search" name="" id="" placeholder="جستجوی محصولات" />
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="menubreack-item2">
          <div class="menubreack-item2-item">
            <i class="fas fa-heart"></i>
            <h6>علاقه مندی</h6>
          </div>
          <div class="menubreack-item2-item">
            <i class="fas fa-random"></i>
            <h6>مقایسه</h6>
          </div>
          <div class="menubreack-item2-item1">
            <i class="fas fa-user"></i>
            <h6>ورود / ثبت نام</h6>
          </div>
        </div>
      </div>
      <div class="close-login3"></div>
    </div>
    <!-- end code menu breack -->
    <!-- start code menusbottom -->
    <div class="menus-bottom">
      <div class="menus-bottom-item">
        <div class="menus-bottom-items">
          <div class="item-bottom">
            <i class="fas fa-shopping-basket"></i>
            <p>فروشگاه</p>
          </div>
          <div class="item-bottom">
            <i class="fas fa-filter"></i>
            <p>فیلترها</p>
          </div>
          <div class="item-bottom">
            <i class="fas fa-heart"></i>
            <p>علاقه مندی</p>
          </div>
          <div class="item-bottom">
            <i class="fas fa-shopping-bag"></i>
            <p>سبد خرید</p>
          </div>
          <div class="item-bottom">
            <i class="fas fa-user-alt"></i>
            <p>حساب کاربری من</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end code menusbottom -->
    <!-- start code shopbox -->
    <div class="shop">
      <div class="container-fluid">
        <div class="shop-items">
          <div class="shop-items1">
            <h4>سبد خرید</h4>
            <h5 class="close"><i class="fas fa-times"></i> بستن</h5>
          </div>
          <div class="shop-items2">
            <div class="shop-items2-item">
              <i class="fas fa-no"></i>
              <p>هیچ محصولی در سبد خرید نیست</p>
              <a
                href=""
                class="btn btn-danger btn-size-small btn-color-primary wc-backward"
                >بازگشت به فروشگاه</a
              >
            </div>
          </div>
        </div>
        <div class="close-login1"></div>
      </div>
    </div>
    <!-- end code shopbox -->
    <!-- start code login-sign -->
    <div class="login-sign">
      <div class="container-fluid">
        <div class="login-sign-login">
          <div class="login-sign-login-items">
            <div class="login-sign-login-items1">
              <h4 class="text-right">ورود</h4>
              <h5 class="closelogin text-left">
                <i class="fas fa-times"></i> بستن
              </h5>
            </div>
            <div class="login-sign-login-items2">
              <label class="username-label d-flex" for="username">
                <p>نام کاربری یا آدرس ایمیل</p>
                <span class="required text-danger font-weight-bold">*</span>
              </label>
              <input type="email" name="" id="" />
              <label for="password" class="password-label d-flex">
                <p>رمز عبور</p>
                <span class="required text-danger font-weight-bold">*</span>
              </label>
              <input type="password" name="" id="" />
              <br />
              <button class="btn btn-danger">ورود</button>
              <label for="check" class="d-flex checkbox-label">
                <input type="checkbox" name="" id="" />
                <p>مرا به خاطر بسپار</p>
                <a href="" class="text-danger">رمز عبور را فراموش کرده اید؟</a>
              </label>
            </div>
            <div class="login-sign-login-items3">
              <i class="fas fa-user"></i>
              <h5>هنوز حسابی ندارید؟</h5>
              <h6 class="sign-account">ایجاد حساب کاربری</h6>
            </div>
          </div>

          <div class="login-sign-signin-item">
            <div class="login-sign-signin-items">
              <div class="login-sign-signin-items1">
                <h4 class="text-right">عضویت</h4>
                <h5 class="closesign text-left">
                  <i class="fas fa-times"></i> بستن
                </h5>
              </div>
              <div class="login-sign-signin-items2">
                <label class="username-label d-flex" for="username">
                  <p>نام کاربری یا آدرس ایمیل</p>
                  <span class="required text-danger font-weight-bold">*</span>
                </label>
                <input type="email" name="" id="" />
                <label for="password" class="password-label d-flex">
                  <p>رمز عبور</p>
                  <span class="required text-danger font-weight-bold">*</span>
                </label>
                <input type="password" name="" id="" />
                <label for="password2" class="password-label d-flex">
                  <p>تکرار رمزعبور</p>
                  <span class="required text-danger font-weight-bold">*</span>
                </label>
                <input type="password" name="" id="" />
                <br />
                <button class="btn btn-danger">عضویت</button>
              </div>
              <div class="login-sign-signin-items3">
                <i class="fas fa-user"></i>
                <h5>حساب دارید</h5>
                <h6 class="log-account">وارد شوید</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="close-login">xs</div>
      </div>
    </div>
    <!-- end code login-sign -->
    <!-- start code magazine -->
    <div class="magazine">
      <div class="container-fluid">
        <div class="magazine-item row">
          <div class="maganize-items col-xl-4 col-lg-4 col-md-6">
            <img src="../img/magazine.jpg" alt="" srcset="" />
            <p>متن ساختگی برای نوشته های متن بلاگ</p>
            <div class="magane-admin">
              <i class="fas fa-user"></i>
              <p>Admin</p>
              <i class="fas fa-comment-alt"></i>
              <i class="fab fa-usb"></i>
            </div>
            <p class="cent-p">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطرآنچنان که لازم است
            </p>
            <a href="">ادامه مطلب</a>
            <div class="img-hover">
              <p>...</p>
            </div>
            <div class="grouping">
              <p>سته بندی نشده</p>
            </div>
          </div>
          <div class="maganize-items col-xl-4 col-lg-4 col-md-6">
            <img src="../img/magazine1.jpg" alt="" srcset="" />
            <p>متن ساختگی برای نوشته های متن بلاگ</p>
            <div class="magane-admin">
              <i class="fas fa-user"></i>
              <p>Admin</p>
              <i class="fas fa-comment-alt"></i>
              <i class="fab fa-usb"></i>
            </div>
            <p class="cent-p">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطرآنچنان که لازم است
            </p>
            <a href="">ادامه مطلب</a>
            <div class="img-hover">
              <p>...</p>
            </div>
            <div class="grouping">
              <p>سته بندی نشده</p>
            </div>
          </div>
          <div class="maganize-items col-xl-4 col-lg-4 col-md-6">
            <img src="../img/magazine2.jpg" alt="" srcset="" />
            <p>متن ساختگی برای نوشته های متن بلاگ</p>
            <div class="magane-admin">
              <i class="fas fa-user"></i>
              <p>Admin</p>
              <i class="fas fa-comment-alt"></i>
              <i class="fab fa-usb"></i>
            </div>
            <p class="cent-p">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطرآنچنان که لازم است
            </p>
            <a href="">ادامه مطلب</a>
            <div class="img-hover">
              <p>...</p>
            </div>
            <div class="grouping">
              <p>سته بندی نشده</p>
            </div>
          </div>
          <div class="maganize-items col-xl-4 col-lg-4 col-md-6">
            <img src="../img/magazine3.jpg" alt="" srcset="" />
            <p>متن ساختگی برای نوشته های متن بلاگ</p>
            <div class="magane-admin">
              <i class="fas fa-user"></i>
              <p>Admin</p>
              <i class="fas fa-comment-alt"></i>
              <i class="fab fa-usb"></i>
            </div>
            <p class="cent-p">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
              ستون و سطرآنچنان که لازم است
            </p>
            <a href="">ادامه مطلب</a>
            <div class="img-hover">
              <p>...</p>
            </div>
            <div class="grouping">
              <p>سته بندی نشده</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end code magazine -->
    <!-- start code accordion -->
    <div class="accordionn">
      <div class="container">
        <div class="accordion-item">
          <button class="accordion">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم<i class="fas fa-angle-down mr-2"></i></button>
          <div class="panel">
            <p>
                ما تلاش می کنیم تا شما بدون نیاز به وقت گذاشتن و بیرون اومدن
                توی ترافیک شهری و از هرکجای این کره خاکی بتونید تازه‌ترین
                گل‌ها را در شهر تهران هدیه دهیدو یا در محل خودتون تحویل
                بگیرید.
            </p>
          </div>

          <button class="accordion">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم<i class="fas fa-angle-down mr-2"></i></button>
          <div class="panel">
            <p>
                ما تلاش می کنیم تا شما بدون نیاز به وقت گذاشتن و بیرون اومدن
                توی ترافیک شهری و از هرکجای این کره خاکی بتونید تازه‌ترین
                گل‌ها را در شهر تهران هدیه دهیدو یا در محل خودتون تحویل
                بگیرید.
            </p>
          </div>

          <button class="accordion">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم<i class="fas fa-angle-down mr-2"></i></button>
          <div class="panel">
            <p>
                ما تلاش می کنیم تا شما بدون نیاز به وقت گذاشتن و بیرون اومدن
                توی ترافیک شهری و از هرکجای این کره خاکی بتونید تازه‌ترین
                گل‌ها را در شهر تهران هدیه دهیدو یا در محل خودتون تحویل
                بگیرید.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end code accordion -->
    <!-- start code footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-item">
            <div class="row">
              <div class="footer-items">
                <div class="footer-logo">
                  <img src="./layout/img/logo-cosmetic.png" alt="" />
                  <p>
                    تازه‌ترین و زیباترین گل‌ها و گیاهان، لبخند را روی لب‌های
                    عزیزانتون بیارید.
                  </p>
                  <p class="logo-p text-right">
                    ما تلاش می کنیم تا شما بدون نیاز به وقت گذاشتن و بیرون اومدن
                    توی ترافیک شهری و از هرکجای این کره خاکی بتونید تازه‌ترین
                    گل‌ها را در شهر تهران هدیه دهیدو یا در محل خودتون تحویل
                    بگیرید.
                  </p>
                </div>
                <div class="social-footer">
                  <div class="footer-social w-25">
                    <p class="text-right">تلفن:021-27427750</p>
                    <div class="footer-social-icon text-right">
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-telegram"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
                  </div>
                  <div class="footer-support text-right w-50">
                    <p class="ml-5 text-right">
                      پشتیبانی تلگرام: sabzineh_supp@
                    </p>
                  </div>
                  <div class="footer-namad w-25">
                    <img src="../img/enamad-1.png" alt="" srcset="" />
                    <img src="../img/footer-samandehi.png" alt="" srcset="" />
                  </div>
                </div>
              </div>
              <div class="footer-items2"></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end code footer -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script src="../js/all.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="./layout/js/fontawesome.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/blog.js"></script>
  </body>
</html>
